.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  color: black;
  font-size: 5rem;
}

.MainContainer {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 5px solid white;
  border-radius: 5px;
  border-image-source: #12c2e9; /* fallback for old browsers */
  border-image-source: -webkit-linear-gradient(
    to right,
    #12c2e9,
    #c471ed,
    #f64f59
  ); /* Chrome 10-25, Safari 5.1-6 */
  border-image-source: linear-gradient(
    to right,
    #12c2e9,
    #c471ed,
    #f64f59
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-image-slice: 1;
}

.JoinGameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.JoinGameTextField {
  flex: 1 1 50%;
}

.JoinGameButton {
  flex: 1 1 50%;
  margin:7px;
  border-color: #f64f59;
}

.NewGameButton {
  margin: 7px 7px;
  border-color: #12c2e9;
}

@media (max-width: 767.98px) {
  .MainContainer {
    width: 90vw;
  }
}

@media (min-width: 767.99px) {
  .MainContainer {
    width: 40vw;
  }

  .JoinGameButton {
    font-size: 2rem;
  }

  .NewGameButton {
    font-size: 2rem;
  }
}