.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  color: black;
  font-size: 5rem;
}

.JoinGameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.JoinGameTextField {
  flex: 1 1 50%;
}

.JoinGameButton {
  flex: 1 1 50%;
  margin:7px;
  border-color: #f64f59;
}

.NewGameButton {
  margin: 7px 7px;
  border-color: #12c2e9;
}

@media (max-width: 767.98px) {
  .HomeMainContainer {
    width: 90vw;
  }
}

@media (min-width: 767.99px) {
  .HomeMainContainer {
    width: 40vw;
  }

  .JoinGameButton {
    font-size: 2rem;
  }

  .NewGameButton {
    font-size: 2rem;
  }
}
