.CanvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
}

.CanvasHeader {
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  border-bottom: 1px solid #DDD;
}

.CanvasTimer {
  flex: 1;
  text-align: end;
  margin-right: 10px;
}

.CanvasCurrRound {
  flex: 1;
  text-align: start;
  margin-left: 10px;
}
  
.Canvas {
  width: 100%;
  height: 80%;
  background-color: white;
}

.CanvasControlsContainer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-top: 1px solid #DDD;
}

.CanvasControl {
  flex: 1 1 25%;
  border-radius: 0px !important;
}

/* @media (max-width: 767.98px) {
  .CanvasContainer {
    width: 100%;
    height: 60%;
  }
}

@media (min-width: 767.99px) {
  .CanvasContainer {
    width: 50%;
    height: 100%;
  }
} */
