.CanvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
}

.CanvasHeader {
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  border-bottom: 1px solid #DDD;
}

.CanvasTimer {
  flex: 1;
  text-align: end;
  margin-right: 10px;
}

.CanvasCurrRound {
  flex: 1;
  text-align: start;
  margin-left: 10px;
}

.CanvasUnderlinedWord {
  white-space: pre-wrap;
}
  
.Canvas {
  width: 100%;
  height: 80%;
  background-color: white;
}

.CanvasControlsContainer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  /* border-top: 1px solid #DDD; */
}

.CanvasControl {
  flex: 1 1 25%;
  margin: 0px;
  border-radius: 0px !important;
  border-color: #f64f59;
  user-select: none;
  outline: none;
}

.CanvasControl:hover, .CanvasControl:focus {
  border-color: #c471ed;
  outline: none;
}

.CanvasControl:active {
  border-color: #12c2e9;
  outline: none;
}

.CanvasControl:disabled {
  background-color: #ddd;
  border-color: rgba(255, 255, 255, 0.38);
  color: rgba(0, 0, 0, 0.20);
  outline: none;
  cursor: not-allowed;
}

@media (max-width: 767.98px) {
  .CanvasHeader {
    font-size: 2vh;
  }

  .CanvasControl {
    font-size: 2vh;
  }
}

@media (min-width: 767.99px) {
  .CanvasHeader {
    font-size: 3vmin;
  }

  .CanvasControl {
    font-size: 3.5vmin;
  }
}
