.ChatRoom {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ChatRoomMessageArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 767.98px) {
    .ChatRoom {
        width: 50%;
        height: 100%;
    }
}

@media (min-width: 767.99px) {
    .ChatRoom {
        width: 30%;
        height: 100%;
    }
}