.ChatRoom {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MessageArea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
